<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <div class="sucesso">
        <div class="container" x-data="fases">
            <div class="tac">
                <h1 class="titulo">Você passou de fase</h1>
            </div>
            <div class="box merge-titulo">
                <div id="menu">
                    <p>score: <span x-text="score">00000</span></p>
                    <p>high score: <span x-text="scoreTotal">00000</span></p>
                    <p>linhas: <span x-text="linhas">0</span></p>
                </div>
    
                <nav>
                    <ul>
                        <li><a href="level-select.html" class="button">Jogar próxima fase</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    <script>
        document.addEventListener('alpine:init', () => {
            Alpine.data('fases', () => ({
                scoreTotal: Number(localStorage.getItem('highScore')),
                score: Number(localStorage.getItem('score')),
                linhas: Number(localStorage.getItem('linhas')),
            }));
        })
    </script>
</body>
</html>